/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:link, :visited {
        text-decoration: none;
    }
}

.heading {
    text-align: center;
    margin: 20px auto;
    &_big{
        font-size: 40px;
    }
    &_medium{
        font-size: 35px;
    }
    &_small{
        font-size: 30px;
    }
}
