$main_color: #cccccc;
$upper_color: #fff;
$logo_link: gold;
$logo_link_hover: white;
$nav_link: black;
$nav_link_current: #5fba4f;
$nav_link_hover: gold;

$logo_green: #5fba4f;
$logo_green_dark: #4c963f;
$main_background: #fff;

$small_devices: 500px;
$medium_devices: 820px;
$large_devices: 990px;

$iconed-heading: $logo_green;
$contacts_border: $logo_green;