/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* 
font-family: 'Cinzel', serif;
font-family: 'Roboto Condensed', sans-serif;
*/


/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
    /* color: white; */
}


.block {  }

.block_navbar {
    /* top: 0; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #7f7f7f;
}


.block_header {
    background: url('../images/prague-800x523.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:brightness(90%);
}

.block__wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.upper {
    top: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    /* padding: 0 20px; */
}

.logo-container {
    /* padding: 10px; */
    min-width: 140px;
}

.logo-vilar {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.logo-link {
    color:gold;
}

.logo-link:hover {
    color: white;
}

.navigation {}

.navigation__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}
.navigation__item {
    padding: 10px;
    color: white;
    text-transform: uppercase;
}
.navigation__item:hover {
    color: gold;
}
.navigation__item_current {
    color: gold;
}

.header {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.header__text {
    /* width: 100%; */
}
.header__h1 {
    font-size: 50px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.routes {
    margin: 50px auto 50px auto;
    /* width: 1200px; */
    /* background-color: cadetblue; */
}

.routes__heading {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.routes__list {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.routes-card {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    font-size: 30px;
    transition-property: font-size;
    transition-duration: .2s;
    transition-delay: .2s;
}

.routes-card:hover {
    font-size: 38px;
}

.routes-card__image {
    display: block;
    width: 100%;
}
.routes-card__link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.routes-card__heading {
    color: white;
    background-color: rgba(250, 212, 0, 0.8);
    display: block;
    width: 100%;
    text-align: center;
}

.routes-card {

}

.routes-card_prague {
    background: no-repeat center/100% url('../images/prague.jpg');
}
.routes-card_kyiv {
    background: no-repeat center/100% url('../images/kyiv.jpg');
}
.routes-card_pilsen {
    background: no-repeat center/100% url('../images/pilsen.jpg');
}
.routes-card_cherkasy {
    background: no-repeat center/100% url('../images/cherkasy.jpg');
}

.route-list__item {

}


.footer {
    background-color: #040f64;
    font-family: 'Roboto Condensed', sans-serif;
}
.footer__wrapper {
    height: 260px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.footer__link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.footer__link:not(:first-child) {
    margin-left: 20px;
}
.footer__copyright {
    color: #fff;
    font-size: 14px; 
}

.partners {}
.partner__list {
    list-style-type: none;
    /* border: 3px solid red; */
}
.partner__item {
    display: inline;
    margin-right: 20px;
}
.partner__link {

}
.partner__logo {
    width: 120px;
    vertical-align: middle;
    display: inline-block;
}

.contacts__map {
    margin: 20px 0 20px 0;
    height: 400px;
    width: 100%;
    background: no-repeat center/100% url('../images/map-office.png');
}
.map__google {
    border: 0;
    height: 400px;
    width: 100%;
}

.iconed-heading{
    margin-top: 20px;
}
.iconed-heading__icon {
    display: inline-block;
    font-size: 30px; 
    color: gold;
    width: 40px;
    text-align: center;
}
.iconed-heading__icon_small {
    font-size: 24px;
}
.iconed-heading__text {
    display: inline-block;
    font-size: 30px; 
}
.iconed-heading__text_small {
    font-size: 24px; 
    font-weight: lighter;
}

.contacts__list {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 20px 0;
    border: 3px solid gold;
    border-radius: 10px;
}
.contacts__item {
    text-align: center;
}
.contacts__data {
    font-size: 20px; 
}
.contacts__link {
    text-decoration: none;
    color: black;
}

/* GALLERY */

.gallery {
    margin: 30px 0 30px 0;
    text-align: center;
}
.gallery__heading {
    text-align: center;
    margin-bottom: 30px;
}

.gallery__description {
    text-align: center;
}
.gallery__list {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.gallery__item{
    
}
.gallery__image {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.description {
    
}
.description__item {
    font-size: 20px;
    margin-top: 10px;

}

.service {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.servise__item {
    padding-right: 20px;
}
.service__heading {
   margin-top: 30px; 
   font-size: 28px;
}


/*----------------TICKETS-----------------*/
.tickets {
    text-align: center;
}
.tickets__heading {
    margin: 30px 0; 
    font-size: 28px;
}
.tickets__description{
    margin-bottom: 30px;
}
.iframe {
    display: flex;
    justify-content: center;
}

.office-services{
    text-align: center;
    margin-bottom: 30px;
}
.office-services__list{
    font-size: 20px;
}
.office-services__item{
    margin: 10px 0 10px 0;
}

.find-office{
    margin-bottom: 30px;
}
.contacts-gallery{
    display: flex;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px; */
    height: 400px;
    justify-content: center;
}
.contacts-gallery__link{}
.contacts-gallery__item{
    display: inline-block;
    height: 100%;
    border-radius: 10px;
}
.contacts-gallery__item:not(:last-child) {
    margin-right: 30px;

}


/*------- heading ---------*/
.heading {
    text-align: center;
    margin: 20px auto;
}
.heading_big{
    font-size: 40px;
}
.heading_medium{
    font-size: 35px;
}
.heading_small{
    font-size: 30px;
}


.about {
    height: 70vh;
}