.all-routes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.route{
    @media only screen and (min-width: $medium_devices) {
        width: 600px;
    }
}