.block{ 
    &_navbar {
        background-color: $upper_color;
    }
    &_header {
        background: url('../images/prague-800x523.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter:brightness(90%);
    }
    &__wrapper {
        max-width: 1100px;
        margin: 0 auto;
    }
}