#toggle {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

#toggle:checked ~ .navigation{
    left: 0;
}

.burger {
    @media only screen and (min-width: $medium_devices) {
        display: none;
    }
    // &__container{}
    &__line{
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: $logo_green;
        margin-bottom: 5px;
    }
}