.burger {
    &__container{
        display: block;
        width: 45px;
        height: 40px;
        cursor: pointer;
    }
    &__line-top,
    &__line-centre,
    &__line-bottom {
        height: 4px;
        width: 30px;
        border-radius: 2px;
        background-color: $logo_green;
        margin: 7px auto 7px;
    }
    &__line-top,
    &__line-bottom {
        transition: 1s ease;
        transform-origin: left top;
    }
}


#show-navmenu:checked ~ .upper__burger .burger__line-top {
    transform: skewY(37deg);
}

#show-navmenu:checked ~ .upper__burger .burger__line-centre {
    opacity: 0;
}

#show-navmenu:checked ~ .upper__burger .burger__line-bottom {
    transform: skewY(-37deg);
}
#show-navmenu {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
#show-navmenu:checked ~ .navigation {
    left: 0;
}


// ------------------------------------------------------------------------
// #toggle {
//     position: absolute;
//     clip: rect(0, 0, 0, 0);
// }

// #toggle:checked ~ .navigation{
//     left: 0;
// }

// .burger {
//     @media only screen and (min-width: $medium_devices) {
//         display: none;
//     }
//     // &__container{}
//     &__line{
//         display: block;
//         width: 22px;
//         height: 2px;
//         border-radius: 1px;
//         background: $logo_green;
//         margin-bottom: 5px;
//     }
// }