.footer {
    background-color: #040f64;
    font-family: 'Roboto Condensed', sans-serif;
    &__wrapper {
        height: 260px;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    &__link {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    &__copyright {
        color: #fff;
        font-size: 14px; 
    }
}
