.footer {
    &::before {
        content: "";
        display: block;
        background-image: url("../images/svg/land.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 110px;
        @media only screen and (min-width: $medium_devices) {
            height: 250px;
        }
    }
    font-family: 'Roboto Condensed', sans-serif;
    &__wrapper {
        background-color: $logo_green_dark;
        height: 220px;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__link {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
    }
    &__copyright {
        color: #fff;
        font-size: 14px; 
    }
}
