.point {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 10px 0;
    // &__time{    }
    &__icon{
        width: 15px;
        height: 15px;
        border-radius: 50% 50% 50% 0;
        background: $logo_green;
        transform: rotate(-45deg);
        left: 50%;
        top: 50%;
        margin: 0 10px;
    }
    &__city{
        font-weight: bolder;
        &::after{
            content: " ";
            white-space: pre;
        }
    }
    &__name{
        &::after{
            content: " ";
            white-space: pre;
        }
    }
    &__adress{
        font-style: italic;
        font-size: smaller;
    }
    &__url{
        color: black;
        text-align: right;
        width: 100%;
        @media only screen and (min-width: $medium_devices) {
            width: unset;
            text-align: unset;
        }
    }
}