.routes {
    margin: 50px auto 50px auto;
    &__heading {
        font-size: 40px;
        text-align: center;
        margin-bottom: 50px;
    }
    &__list {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 1fr;
        @media only screen and (min-width: $medium_devices) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &-card {
        height: 300px;
        width: 100%;
        border-radius: 10px;
        font-size: 30px;
        transition-property: font-size;
        transition-duration: .2s;
        transition-delay: .2s;
        &__image {
            display: block;
            width: 100%;
        }
        &__link {
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__heading {
            color: white;
            background-color: rgba(250, 212, 0, 0.8);
            display: block;
            width: 100%;
            text-align: center;
        }
        &_prague {
            background: no-repeat center/100% url('../images/prague.jpg');
        }
        &_kyiv {
            background: no-repeat center/100% url('../images/kyiv.jpg');
        }
        &_pilsen {
            background: no-repeat center/100% url('../images/pilsen.jpg');
        }
        &_cherkasy {
            background: no-repeat center/100% url('../images/cherkasy.jpg');
        }
        &:hover {
            font-size: 38px;
        }
    }
}